# Masukan APP ID ambil di web my.telegram.org
API_KEY = "0"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "0"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "0"

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5409550017:AAH9zopW1uQd0Tkj60dPdUBZLK5L0v_cfso"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

#isi Username channel untuk di tampilkan di .alive (jangan gunakan @)
CHANNEL = "nekoXidch"

#isi Username Group untuk di tampilkan di .alive (jangan gunakan @)
GROUP = "sangeannn2"

#costum foto saat .alive (Masukan link telegraph foto)
ALIVE_LOGO = "https://telegra.ph/file/25770e6e85d9c216162f6.jpg"

#Custom CMD_HANDLER Userbot Mu (Untuk awalan memanggil userbot) Contoh .
CMD_HANDLER = .

#costum emoji untuk emoji button saat .helpme
INLINE_EMOJI = -

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://zudgredf:5ztyAZ8rsuyT8KdkqSedlUcVYG-ShkWw@topsy.db.elephantsql.com/zudgredf"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True
