# Masukan APP ID ambil di web my.telegram.org
API_KEY = ""

# Masukan API HASH ambil di web my.telegram.org
API_HASH = ""

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = ""

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = ""

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001680367997 # this is an integer, please don't use quotes.

#isi Username channel untuk di tampilkan di .alive (jangan gunakan @)
CHANNEL = "nekoXidch"

#isi Username Group untuk di tampilkan di .alive (jangan gunakan @)
GROUP = "nekoXid2"

#costum foto saat .alive (Masukan link telegraph foto)
ALIVE_LOGO = "https://telegra.ph/file/25770e6e85d9c216162f6.jpg"

#Custom CMD_HANDLER Userbot Mu (Untuk awalan memanggil userbot) Contoh .
CMD_HANDLER = .

#costum emoji untuk emoji button saat .helpme
INLINE_EMOJI = -

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://ufvcgyll:v59VjxNHddK-39eI29Z4tQOKA6bQg8ji@rosie.db.elephantsql.com/ufvcgyll"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True
